body {
   margin:0;
   height:100%;
}

.link-project{
    color:#2979FF;
    font-size:18px;
    font-weight:bold;
}

.block-project{
    float:left;
    width:100%;
    margin-top:10px;
    margin-bottom:20px;
}

.sidebarleft {
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    width: 240px;
    background: #1e88e5;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    
}

select{
    display:block;
}