@model ClientManager.Models.Tasks
@{
    Layout = "~/Views/Shared/_LayoutWithMenu.cshtml";
    ViewBag.Title = "Задача";
}

<div class="col-lg-8 col-md-8">
<h2>@ViewBag.Title @ViewBag.Name</h2>

    <p>
        @ViewBag.Desc
    </p>

 </div>

<div class="col-lg-4 col-md-4">
    block comment
</div>


