@model IEnumerable<ClientManager.Models.InfoProject>
@{
    Layout = "~/Views/Shared/_LayoutWithMenu.cshtml";
    ViewBag.Title = "Проекты";
}



<h2>@ViewBag.Title</h2>

<div class="col-lg-8 col-md-8">
    
    @foreach (var project in Model.OrderByDescending(a => a.Id))
    {
        <div class="block-project"> 
           <a href="SelectProject/@project.Id" class="link-project">@project.Name</a><br />
            <span class="label label-info">В процессе разработки</span> <span>Завершен на 70%</span>
           <p>@project.Description</p>

            @if (project.LinkSubdomen != "")
            {
                <a href="#" class="text-info text">@project.LinkSubdomen</a><br />
            }
           
            <a href="SelectProject/@project.Id" class="btn btn-info">Подробнее</a>
        </div>
     
    }

</div>
