@model IEnumerable<ClientManager.Models.InfoProject>
@{
    Layout = "~/Views/Shared/_LayoutWithMenu.cshtml";
    ViewBag.Title = "Панель Администратора";
}

<h2>@ViewBag.Title</h2>

@ViewBag.Message

<div class="container">
    <a href="@Url.Action("Index", "Project")">Проекты</a>

</div>